version: "3"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.16.2
    environment:
      ES_JAVA_OPTS: "-Xms256m -Xmx256m"
      bootstrap.memory_lock: "true"
      discovery.type: "single-node"
      xpack.security.enabled: "true"
      xpack.security.enrollment.enabled: "false"
      ELASTIC_USERNAME: $ELASTIC_USERNAME
      ELASTIC_PASSWORD: $ELASTIC_PASSWORD
    ports:
      - 127.0.0.1:9200:9200
    volumes:
      - ./data/elastic:/usr/share/elasticsearch/data
    networks:
      - inner

  minio:
    image: minio/minio:RELEASE.2025-01-18T00-31-37Z-cpuv1
    environment:
      MINIO_ACCESS_KEY: $MINIO_ACCESS_KEY
      MINIO_SECRET_KEY: $MINIO_SECRET_KEY
    volumes:
      - "./data/minio:/data"
    ports:
      - 127.0.0.1:9000:9000
    command: server /data
    networks:
      - inner

  minio-createbuckets:
    image: minio/mc
    depends_on:
      - minio
    environment:
      MINIO_ACCESS_KEY: $MINIO_ACCESS_KEY
      MINIO_SECRET_KEY: $MINIO_SECRET_KEY
    entrypoint: >
      /bin/sh -c "
      sleep 3;
      /usr/bin/mc alias set myminio http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY;
      /usr/bin/mc mb myminio/images;
      exit 0;
      "
    networks:
      - inner

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
      MONGO_INITDB_DATABASE: memes
    networks:
      - inner
    volumes:
      - "./data/mongo:/data/db"
  ocr-service: 
    image: ghcr.io/weoses/ocr-service:latest
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/credentials/google-cred.json
    volumes:
      - "./config/ocrservice:/app/config"
      - "./config/credentials:/app/credentials"
    networks:
    - inner

  storage-service: 
    image: ghcr.io/weoses/storage-service:latest
    environment:
      METADATA-STORAGE_ELASTIC_USERNAME: $ELASTIC_USERNAME
      METADATA-STORAGE_ELASTIC_PASSWORD: $ELASTIC_PASSWORD

      IMAGE-STORAGE_S3_ENDPOINT: $MINIO_PUBLIC_URL
      IMAGE-STORAGE_S3_ACCESSKEY: $MINIO_ACCESS_KEY 
      IMAGE-STORAGE_S3_SECRETKEY: $MINIO_SECRET_KEY
    ports:
      - 127.0.0.1:7001:7001
    volumes:
      - "./config/storageservice:/app/config"
    depends_on:
      - elasticsearch
      - minio
    networks:
    - inner

  telegram-service: 
    image: ghcr.io/weoses/telegram-service:latest
    environment:
      MONGO_URI: $MONGO_URI
      TELEGRAM_TOKEN: $TELEGRAM_TOKEN
    volumes:
      - "./config/telegramservice:/app/config"
    depends_on:
     - storage-service
    networks:
    - inner
networks:
  inner:
